body {
	margin: 0px;
	overflow: hidden; /* hides element outside box - prevent scrollbar */
	background-color: #eee;
	font-family: sans-serif;
}

.tiles {
	z-index: 10;
	position: relative;
}

/* all tiles dimensions must sum up to 100% */
/* top */ 
#tile-1 {
	height: 3%;
}
/* left */
#tile-2 {
	height: 75%;
	width: 1%;
	float: left;
}

#wrapper-main {
	width: 80%;
	height: 86%;
	float: left;
}

/* right - include right widget */
#tile-3 {
	height: 76%;
	width: 17%;
	float: left;
    padding: 0.4em;
}
/* bottom - include event log window */
#tile-4 {
	clear: both;
	height: 10%;
}

/* borders shared style */
#wrapper-main, #ctrl-hmap-vis, #sig-chart, #event-log  {
    border: 1px solid #444;
}
#controls {
    border-bottom: 1px dashed #777;
}
/* ------------- */

#main {
	background-color: #ccc;
	width: 100%;
	height: 100%;
	position: relative;
	top: 0px;
	left: 0px;
}
#fplan {
	background-repeat: no-repeat;
	background-position-y: 0px;
	background-position-x: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}
#viewfinder {
	/*background-image: url('../images/viewfinder1.png');*/
	background-image: url('../images/viewfinder-blue.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%; 
	position: absolute;
	background-position: center;
	z-index: 3;
}

#heatmap {
    background-repeat: no-repeat;
	background-position-y: 0px;
	background-position-x: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}
#sample-map {
	position: absolute;
	z-index: 2;
	/*overflow: hidden;
	clip: rect(0px,100px,100px,0px);*/
}

#sample-map .sample {
	width: 16px;
	height: 16px;
	background-color: black;
	color: white;
	font-size: 11px;
	position: absolute;
	/*z-index: -1;*/
}

#ap-layer{
    position: absolute;
    z-index: 2;
}

#ap-marker {
    width: 16px;
	height: 16px;
	background-color: black;
	color: white;
	font-size: 11px;
	position: absolute;
}

#color-reset-container {
	position: relative;
}
#lbl-color {
	width: 100%;
}

.color-selector {
	width: 20px;
	height: 20;
	margin-right: 0.6em;
	display: inline-block;
}
#color-red {
	background-color: #da0a0a;
	clear: left;
}
#color-green {
	background-color: #1aac1a;
}
#color-blue{
	background-color: #16bcf4;
}
#controls button, #controls input {
    margin: 0.2em;
    margin-left: 0.2em;
    font-size: 0.9em;
    padding-left: 10px;
    
}
#btn-reset {
	position: absolute;
	top:0px;
	right:0px;
	margin: 0px;
}

#btn-place-ap {
}

#deliv-link {
	font-size: 0.8em;
}

#ctrl-hmap-vis {
}

#sig-chart {
	margin: 2px;
	height: 140px;
}
.sig-chart-bar {
	width: 4%;
	margin-right: 1%;
	height: 140px;
	float: right;
}

.sig-chart-bar-hide {
	width: 100%;
	background-color: #fff;
}
#event-log {
	margin-top: 5px;
	margin-bottom: 2px;
	width: 90%;
	height: 86%;
	margin-left: 5%;
	font-size: 0.9em;
}

#controls {
	padding-bottom: 0.8em;
	margin-bottom: 1em;
}


#lbl-ctrl-hmap-vis, #lbl-color {

	font-size: 0.8em;
}
#lbl-ctrl-hmap-vis {
	display: block;
	margin-top: 0.6em;
	clear: both;
}

#signal {
	text-align: right;
	font-weight: bold;
	font-size: 1.4em;
}

